@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: beige;
        color: black; /* เปลี่ยนสีข้อความให้ต่างกันไปกับพื้นหลัง */
    }

  
    img[src*="12.png"] {
        max-width: 250px; 
        height: auto; 

    }

    img[src*="5.png"] {
        max-width:250px;
        height: auto;
    }

    img[src*="4.png"] {
        max-width: 250px;
        height: auto;
    }

    img[src*="14.png"] {
        max-width: 250px;
        height: auto;
    }

    img[src*="15.png"] {
        max-width: 250px;
        height: auto;
    }

    img[src*="16.png"] {
        max-width: 250px;
        height: auto;
    }

    img[src*="18.png"] {
        max-width: 250px;
        height: auto;
    }

    img[src*="19.png"] {
        max-width: 250px;
        height: auto;
    }
</style>

<div class="text-center">
    <h1>Welcome</h1>
    <h4>ยินดีต้อนรับสู่ Kitchen Store</h4>
    <img src="@Url.Content("~/Content/Images/1.png")" alt="Logo">
    <h5>คลังอุปกรณ์เครื่องครัวมุ่งเน้นคุณภาพและดีไซน์การออกแบบให้นำสมัยเพื่อตอบสนองความต้องการเครื่องครัว.</h5>
</div>

<h2>ตัวอย่างเครื่องครัวที่มีอยู่ในคลัง</h2>
<div class="text-center">
<img src="@Url.Content("~/Content/Images/12.png")" alt="Logo">
<img src="@Url.Content("~/Content/Images/5.png")" alt="Logo">
<img src="@Url.Content("~/Content/Images/4.png")" alt="Logo">
<img src="@Url.Content("~/Content/Images/14.png")" alt="Logo">
<img src="@Url.Content("~/Content/Images/15.png")" alt="Logo">

</div>
<h3>คำแนะนำการใช้งาน</h3>

<h5>
    1.อ่านคู่มือการใช้งาน: ก่อนการใช้งานควรอ่านคู่มือการใช้งานที่ให้มาพร้อมกับเครื่องครัว เพื่อเข้าใจวิธีการใช้งานและคำแนะนำเกี่ยวกับความปลอดภัย<h5>
        <h5>
            2.เช็คความปลอดภัย: ตรวจสอบว่าส่วนของเครื่องครัวทุกตัวมีการทำงานอย่างถูกต้องและปลอดภัย รวมถึงการตรวจสอบสายไฟและสายต่อว่ามีอาการชำรุดหรือไม่<h5>
                <h5>
                    3.การใช้งานอุปกรณ์: ใช้งานอุปกรณ์ตามวิธีการใช้ที่ถูกต้องและปลอดภัย อย่าใช้งานเครื่องครัวโดยมีเส้นผมหรือเสื้อผ้าที่สามารถติดตัวเข้าไปได้<h5>
                        <h5>
                            4.การเลือกโหมด: เลือกโหมดการทำงานที่เหมาะสมกับวัตถุดิบและการทำอาหารที่คุณต้องการ เช่น โหมดการทำอาหารด่วน, โหมดความร้อนสูง, หรือโหมดอบ<h5>

                                
                                
                                <div class="text-center">

                                    <img src="@Url.Content("~/Content/Images/11.png")" alt="Logo">

                                </div>


<h3>10 เคล็ดลับในการเลือกเครื่องครัวที่เหมาะกับคุณ</h3>
<h5>1.วิเคราะห์ความต้องการของคุณ: ก่อนที่จะเริ่มต้นการเลือกเครื่องครัว คุณควรทำการวิเคราะห์ความต้องการของคุณอย่างละเอียด โดยพิจารณาถึงประเภทของเครื่องครัวที่คุณต้องการ เช่น คุณต้องการเครื่องครัวที่ใช้ไฟฟ้าหรือไม่ คุณต้องการเครื่องที่ให้ความสำคัญกับความสะดวกสบายมากกว่าคุณภาพหรือไม่ <h5>
<h5>2.ตรวจสอบพื้นที่ในครัว: มีพื้นที่ในครัวเพียงพอสำหรับเครื่องครัวที่คุณสนใจหรือไม่ การวัดและวางแผนพื้นที่ในครัวล่วงหน้าจะช่วยให้คุณเลือกเครื่องครัวที่เหมาะสมและไม่กินพื้นที่มากเกินไป<h5>
                <h5>
                    3.คำนึงถึงความปลอดภัย: ควรพิจารณาเรื่องความปลอดภัยในการใช้งาน เช่น การมีระบบป้องกันอันตราย เช่น ระบบปิดกันเด็ก เป็นต้น<h5>

                        <h5>
                            4.ศึกษาคุณสมบัติ: ควรศึกษาและทำความเข้าใจเกี่ยวกับคุณสมบัติและฟังก์ชั่นของเครื่องครัวที่คุณสนใจ เพื่อให้แน่ใจว่ามันตรงกับความต้องการของคุณ<h5>

                                <h5>
                                    5.การรับประกันและบริการหลังการขาย: การเลือกเครื่องครัวที่มีการรับประกันและบริการหลังการขายที่ดี เป็นประโยชน์อย่างมาก เพื่อให้คุณมั่นใจในคุณภาพและประสิทธิภาพของเครื่องครัวที่คุณเลือก<h5>

                                        <h5>
                                            6.ราคาและงบประมาณ: หลังจากที่คุณได้ทำการวิเคราะห์และเลือกเครื่องครัวที่ตรงกับความต้องการและคุณสมบัติที่ต้องการ คุณควรพิจารณาเรื่องราคาและงบประมาณที่สามารถจ่ายได้<h5>

                                                <h5>
                                                    7.การวิจัยและเปรียบเทียบ: การวิจัยและเปรียบเทียบระหว่างเครื่องครัวที่มีอยู่ในตลาดจะช่วยให้คุณเลือกเครื่องที่ดีที่สุดในราคาที่คุณสามารถจ่ายได้<h5>

                                                        <h5>
                                                            8.ความสะดวกสบายและการใช้งาน: ควรเลือกเครื่องครัวที่มีการใช้งานที่ง่ายและสะดวกสบาย ไม่ว่าจะเป็นการปรับตั้งค่า, การดูแลรักษา, หรือการทำความสะอาด<h5>

                                                                <h5>
                                                                    9.ความยาวของอายุการใช้งาน: ควรเลือกเครื่องครัวที่มีความทนทานและมีอายุการใช้งานที่ยาวนาน เพื่อให้คุณได้รับความคุ้มค่าในการลงทุนของคุณ<h5>

                                                                        <h5>
                                                                            10.ความน่าเชื่อถือและความเป็นมาตรฐาน: ควรเลือกเครื่องครัวที่มีคุณภาพและมาตรฐานที่เชื่อถือได้ โดยการศึกษาความคิดเห็นและรีวิวจากผู้ใช้งานที่มีประสบการณ์จริง</h5>

                                                                        <div class="text-center">
                                                                           
                                                                            <img src="@Url.Content("~/Content/Images/6.png")" alt="Logo">
                                                                          
                                                                        </div>

                                                                        <h3>การบำรุงรักษาอุปกรณ์</h3>
   <h5>
            การทำความสะอาดประจำ: ควรทำความสะอาดเครื่องครัวอย่างประจำ เช่น ทำความสะอาดตลอดจากเศษอาหาร, ไขมัน, และสิ่งสกปรกที่ติดอยู่บนพื้นผิว <h5>
                                                                                <h5>
                                                                                    การรักษาอุปกรณ์: รักษาอุปกรณ์ให้สะอาดและแข็งแรงโดยการใช้ผ้าเช็ดที่เปียกในน้ำอุ่นและสบู่อ่อนเพื่อล้างและป้องกันการเกิดสนิม <h5>
                                                                                        <h5>
                                                                                            การตรวจเช็คและซ่อมบำรุง: ตรวจสอบเครื่องครัวของคุณอย่างสม่ำเสมอเพื่อตรวจหาสภาพของส่วนอุปกรณ์ที่เสียหาย หรือมีสัญญาณของปัญหาที่อาจเกิดขึ้น <h5>



<h5>สโลแกน>>>:ไม่ต้องทำวันนี้ให้ดี เดี๋ยวพรุ่งนี้ไม่มีอะไรทำ</h5>
